# Data Science Tools and Ecosystem

This Notebook contains a summary of Data Science Tools and Ecosystem.

**Objectives:**
- List Data Science languages
- List Data Science Libraries
- List Data Science Tools in a table format
- Evaluate Arithmetic Expressions in Python

The most popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn

|Data Science Tools|
|------|
|MySQL|
|MongoDB|
|Apache CouchDB|
|Hadoop File System|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60. H is the hours and M is the minutes.
M=200
H=M/60
print(H)

3.3333333333333335

## Author
Richie